<!DOCTYPE html>

<html>
	{{> head}}
	
	<body>
		<p>HOME</p>
		<form action="/gameView" method="GET">
			<input name="id" type="text" placeholder="Search for game">
			<input type="submit">
		</form>
	</body>
</html>